.admin {
  .slideBar {
    position: relative;
    background-color: #000000;
    width: 40px;
    z-index: 1;
    height: 100vh;
    transition: all 1s;

    .imageLogoBox {
      text-align: center;
      overflow: hidden;
      background-color: var(--color-primary-dark);
      background-image: linear-gradient(
        to right,
        var(--color-primary-dark),
        #1d1d1d,
        var(--color-primary-dark)
      );

      .imageLogo {
        height: 70px;
        padding: 10px 0;
      }
    }

    .toggleButton {
      display: block;
      opacity: 0.6;
      width: 30px;
      height: 30px;
      line-height: 29px;
      padding-left: 5px;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      right: -15px;
      background-color: #000000;
      transition: all 1s;
    }

    ul {
      overflow: hidden;
      white-space: nowrap;
      list-style-type: none;
      padding: 0;

      li {
        transition: all 1s;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        border-bottom: 1px solid #cccccc80;
        color: #ffffff;
        &:hover {
          background-color: #cccccc80;
        }

        &.active {
          background-color: #f8f9fa;
          color: #000000;
          pointer-events: none;
          border-right: 1px solid #cccccc80;
        }

        .title {
          text-transform: uppercase;
          width: 0;
          opacity: 0;
          transition: all 1s;
          // padding-left: 20px;
        }
      }
    }
  }
  .slideBar.show {
    width: 250px;

    .toggleButton {
      transform: rotate(-180deg);
    }

    ul {
      li {
        padding: 10px 30px;

        .icon {
          width: 20%;
        }

        .title {
          width: 80%;
          opacity: 1;
          transition: all 1s;
          // padding-left: 20px;
        }
      }
    }
  }

  .navBar {
    box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
    position: relative;
    z-index: 100;

    .navbar {
      padding: 0 1rem;
      background-color: var(--color-primary-dark);
      background-image: linear-gradient(
        to right,
        #1d1d1d,
        var(--color-primary-dark),
        #1d1d1d
      );
      height: 70px;

      * {
        color: var(--color-primary-text);
      }
    }
  }

  .mainContent {
    flex-grow: 1;
    padding: 0;
    height: 100vh;

    .bangDanhSachNguoiDung {
      padding-bottom: 0;
    }

    .thanhCongCuBox {
      box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
      padding: 1rem;
      background-color: #f8f9fa;
    }

    .bangBox {
      height: calc(100vh - 70px - 70px - 40px);
      overflow: auto;

      table {
        tbody {
          tr {
            th,
            td {
              vertical-align: middle;
            }
          }
        }

        .actionCell {
          display: flex;
          justify-content: flex-end;

          .btn.delete,
          .btn.edit,
          .btn.add {
            padding: 0;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }

    .phanTrang {
      display: flex;
      justify-content: center;
      width: 100%;

      .pagination {
        margin-bottom: 0;
        .page-item .page-link {
          border-radius: 0;
          border: none;
        }
      }
    }
  }
}
