.chiTietPhongVe {
  $edge: 30px;
  $danhSachGheMaxWidth: 600px;

  .left,
  .right {
    padding-top: 1rem;
    padding-bottom: 1rem;
    // background-color: ;
  }

  .left {
    background-color: #f1f1f1; /* For browsers that do not support gradients */
  background-image: linear-gradient(#ffffff, #f1f1f1, #ffffff);
  }

  .right{
    
  background-color: #aeaeae; /* For browsers that do not support gradients */
    background-image: linear-gradient(#ffffff, #e9e9e9, #ffffff);
  }

  .chiTietPhimPhongVe {
    .chiTietPhim {
      font-size: 0.9rem;

      * {
        font-size: 1em;
      }

      .tenPhim {
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
  }

  .danhSachGhe {
    max-width: $danhSachGheMaxWidth;
    margin: 0 auto;

    .col {
      padding: 0;
    }

    .square {
      position: relative;
      padding: 1px;

      ::before {
        content: "";
        display: block;
        padding-top: 100%;
      }
    }

    .chairBox {
      font-size: 0.8rem;
      font-weight: 500;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:not(.none):not(.dangChon):hover {
        border: 1px solid #4ac13b;
      }
    }

    .chairBox.Vip {
      background-color: var(--color-gheVip);
    }

    .none {
      background-color: transparent;
      cursor: default;
    }

    .daDat {
      // background-color: #ff0000;
      pointer-events: none;
      opacity: 0.4;
      // text-indent: -9999px;

      &::after {
        font-family: "Material Icons";
        content: "\e02c";
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }

    .chuaChon,
    .Thuong {
      background-color: var(--color-gheThuong);
    }

    .dangChon {
      // background-color: #4ac13b;
      border: 2px solid var(--color-dangChon);
    }
  }

  .giaiThichGhe {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
    font-size: 0.7rem;
    max-width: $danhSachGheMaxWidth;

    .gheVip,
    .gheThuong,
    .gheDangChon,
    .gheDaDat {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: center;
      margin-bottom: 5px;

      .wrapBox {
        margin-right: 5px;
      }
    }
  }

  .chiTietDatGhe {
    // background-color: #00000030;
    // padding: 10px;
    font-size: 0.9rem;

    .thongTinPhim,
    .danhSachGhe,
    .thongTinKhachHang,
    .phuongThucThanhToan {
      margin-bottom: 10px;

      & > div:not(.group) {
        font-style: italic;
      }

      & > div:not(.btnPhuongThucThanhToan) {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      .group {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.03em;
      }

      .label {
        font-style: normal;
        font-weight: 500;
      }
    }
  }

  .phuongThucThanhToan {
    .btn {
      opacity: 0.5;
      &:focus {
        outline: none !important;
        box-shadow: none;
      }
    }

    .btn.active {
      opacity: 1;
      border: 1px solid #cccccc80 !important;
      outline: none !important;
      box-shadow: none;
    }
  }

  @media screen and(max-width: 1199.9px) {
    .danhSachGhe {
      .chairBox {
        font-size: 0.9rem;
      }
    }
  }

  @media screen and(max-width: 991.9px) {
    .danhSachGhe {
      .chairBox {
        font-size: 0.75rem;
      }

      .rowChair {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }

  @media screen and(max-width: 767.9px) {
    .danhSachGhe {
      .chairBox {
        font-size: 0.7rem;
      }
    }
  }

  @media screen and(max-width: 575.9px) {
    .danhSachGhe {
      .chairBox {
        font-size: 0.5rem;
      }
    }
  }

  @media screen and(max-width: 420px) {
    .giaiThichGhe {
      .gheVip,
      .gheThuong,
      .gheDangChon,
      .gheDaDat {
        flex: 50%;
        justify-content: flex-end;
      }
    }
  }
}
