.footer {
  padding-top: 20px;
  // background-color: var(--color-primary-light);

  // background: #bdc3c7; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to bottom,
  //   #bdc3c7,
  //   var(--color-primary-light)
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to bottom,
  //   #bdc3c7,
  //   var(--color-primary-light)
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .bottom-logo {
    height: 70px;
  }

  .contact-logo-box {
    height: 35px;
    display: flex;
    padding: 0;
    align-items: flex-end;
  }

  .contact-logo {
    font-size: 28px;
    line-height: 34px;
    padding-right: 15px;
    display: inline-block;
    width: 50px;
    text-align: center;
    transition: all 1s;

    a {
      padding: 0;
    }

    &:hover {
      font-size: 34px;
    }
  }

  b {
    display: inline-block;
    width: 100px;
  }

  a {
    color: #000000;
    text-decoration: none;
    padding-right: 10px;
  }

  .goToTop {
    font-weight: 600;
    span {
      transition: all 0.6s;
      letter-spacing: 1px;
      transform: translateY(0);
      text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    }

    span:hover {
      transition: all 0.6s;
      display: inline-block;
      transform: translateY(-5px);
      // letter-spacing: 2px;
      text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    }
  }

  @media screen and (max-width: 640px) {
    .footerNavBox .footer-nav b {
      display: block;
    }
  }

  @media screen and (max-width: 640px) {
    .footerLogo {
      padding: 1rem !important;
      text-align: center;

      .contact-logo-box {
        justify-content: center;
        padding-left: 15px;
      }
    }

    .footerNavBox .footer-nav {
      text-align: center;

      b {
        margin: 0 auto;
        margin-top: 1rem;
      }
    }

    .copyright {
      text-align: center;
      margin-top: 10px;
    }
  }
}
