.headerTop {
  .headerRight {
    padding-left: 5%;
  }

  .rapMenu {
    width: 100% !important;
    top: 96px;
    left: 0;
    background-color: #ffffff80;

    .dropdown-item {
      &:hover {
        background-color: transparent;
      }
    }
  }

  @media screen and (max-width: 992px) {
    .headerRight {
      padding-left: 0;
    }
  }
}
