.headerTop {
  --shadow-color: #ffffff;
  --shadow-color-light: white;
  $topToMenu: 80px;

  background-color: var(--color-primary-dark);
  width: 100%;
  max-height: 100vh;

  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
  // box-shadow: rgba(255, 255, 255, 0.315) 0px 60px 40px -7px;
  // box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;

  .navbar-toggler:focus {
    box-shadow: none;
    border: 2px solid #3f51b5;
    border-radius: 0;
  }

  .collapsing {
    transition: all 0.3s;
  }

  .headerRight {
    padding-left: 5%;
    align-self: stretch;

    & > ul.navbar-nav {
      align-self: stretch;

      & > li.nav-item,
      & > .searchBox {
        display: flex;
        align-items: center;

        & > .subMenu {
          top: $topToMenu;
          background-color: #00000080;
        }
      }

      & > li.nav-item a {
        font-size: 14px;
      }

      & > li.nav-item:not(.active):hover a.nav-link {
        color: #ffffff;
        // animation: neon 3s infinite;
      }

      & > li.nav-item.active a.nav-link {
        color: #ffffff;
        font-weight: 900;
        // animation: neon 3s infinite;
      }
    }
  }
  // .subMenu{

  //   color: #ffffff;
  // }

  .rapMenu {
    width: 100% !important;
    top: $topToMenu;
    left: 0;
    background-color: #00000080;

    & > .dropdown-item {
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      .cinemaItem:hover {
        background-color: #000000aa;
      }
    }
  }

  .subItem {
    padding: 10px;
    color: #ffffff;
    font-size: 0.9rem;
    border-bottom: 1px solid #ffffff20;
    text-transform: uppercase;

    &:hover {
      background-color: #000000aa;
      text-shadow: 2px 2px 4px #ff0000;
    }
  }

  @keyframes neon {
    0% {
      text-shadow: -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
        0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
        0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
    50% {
      text-shadow: -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light), 0 0 5px var(--shadow-color-light),
        0 0 15px var(--shadow-color-light), 0 0 25px var(--shadow-color-light),
        0 0 40px var(--shadow-color), 0 0 50px var(--shadow-color),
        0 0 60px var(--shadow-color), 0 0 80px var(--shadow-color),
        0 0 110px var(--shadow-color), 0 0 210px var(--shadow-color);
    }
    100% {
      text-shadow: -1px -1px 1px var(--shadow-color-light),
        -1px 1px 1px var(--shadow-color-light),
        1px -1px 1px var(--shadow-color-light),
        1px 1px 1px var(--shadow-color-light), 0 0 3px var(--shadow-color-light),
        0 0 10px var(--shadow-color-light), 0 0 20px var(--shadow-color-light),
        0 0 30px var(--shadow-color), 0 0 40px var(--shadow-color),
        0 0 50px var(--shadow-color), 0 0 70px var(--shadow-color),
        0 0 100px var(--shadow-color), 0 0 200px var(--shadow-color);
    }
  }

  @media screen and (max-width: 992px) {
    .headerRight {
      padding-left: 0;
    }
  }

  @media screen and (max-width: 767.9px) {
    --shadow-color: #000000;
    --shadow-color-light: #000000;

    & {
      overflow-y: auto;
      // max-height: 100vh;
    }

    .listCinema {
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      width: 100%;

      .cinemaItem {
        flex-shrink: 1;
      }
    }

    & > .container-lg {
      padding-left: 0;
      padding-right: 0;

      .navbar-brand {
        margin-left: 20px;
      }

      .navbar-toggler {
        margin-right: 20px;
        border-radius: 0;
        border: none;
        // padding: 0;
      }
    }
    .headerRight {
      background-color: var(--color-primary-light);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

      .subItem {
        padding: 10px;
        color: var(--color-primary-dark);
        border-bottom-color: #00000020;

        &:hover {
          background-color: #000000aa;
          color: #ffffff;
        }
      }

      & > ul.navbar-nav {
        & > li.nav-item {
          flex-direction: column;
          border-bottom: 1px solid var(--color-primary);

          & > a {
            display: block;
            line-height: 48px;
            padding: 0;
            width: 100%;
            text-align: center;

            * {
              padding: 0;
            }
          }

          & > .subMenu,
          & > .rapMenu {
            width: 100%;
            box-shadow: rgba(255, 255, 255, 0.32) 0px 2px 4px 0px,
              rgba(255, 255, 255, 0.52) 0px 2px 16px 0px;
            background-color: #e1e2e1;
          }
        }
      }
    }

    .headerRight.show {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
