.home {
  .active {
    color: red;
  }

  .homeBody > .oderTicketBox, .homeBody .mainContent, .homeBody .thongTinLichChieuHeThongRap{
    margin-top: 72px;
    background-color: #fafafa;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .thongTinLichChieuHeThongRap{
    padding-top: 24px;
  }

  .ThongTinLichChieuBox {
    border: 1px solid #cccccc;
    height: 520px;
    // overflow: auto;
  }

  .danhSachHeThongRapBox,
  .danhSachCumRapBox {
    border-right: 1px solid #cccccc;
    height: 520px;
    overflow: auto;
  }

  .danhSachPhimBox {
    height: 520px;
    overflow: auto;
  }

  ul.nav {
    flex-wrap: nowrap;
  }

  ul.nav-tabs {
    border-bottom: none;
  }

  ul .nav-link {
    opacity: 0.6;
    border: none;
    color: #000000;
    cursor: pointer;
    padding: 5px;
    margin: 0;
  }

  ul .nav-link.active {
    opacity: 1;
    color: #ff0000;
  }

  @media screen and(max-width: 767.9px) {
    .homeBody > .oderTicketBox, .homeBody .mainContent, .homeBody .thongTinLichChieuHeThongRap{
      margin-top: 48px;
      background-color: #fafafa;
      box-shadow: none;
    }

    .homeBody .thongTinLichChieuHeThongRap{
      background-color: #ffffff;
    }
  }
}
