.orderTicketBox {
  select {
    height: 40px;
    border-color: #cccccc;
  }

  .tab {
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    // container d-flex justify-content-around pt-2
  }
}

.footer {
  padding-top: 20px;

  .bottom-logo {
    height: 70px;
  }

  .contact-logo-box {
    height: 35px;
    display: flex;
    padding: 0;
    align-items: flex-end;
  }

  .contact-logo {
    font-size: 28px;
    line-height: 34px;
    padding-right: 15px;
    display: inline-block;
    width: 50px;
    text-align: center;
    transition: all 1s;

    &:hover {
      font-size: 34px;
    }
  }

  b {
    display: inline-block;
    width: 100px;
  }

  a {
    color: #000000;
    text-decoration: none;
    padding-left: 10px;
  }
}
