.movie {
  .chiTietPhimImageBox {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }

  .chiTietPhimBox {
    .chiTietPhimTextBox {
      padding: 10px;

      p {
        margin-bottom: 5px;
        text-align: justify;
      }
    }
  }

  .thongTinLichChieuPhimBox {
    margin-top: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;

    .heThongRap{
      display: flex;
      flex-direction: row;
      border-top: 1px solid #cccccc;
      border-bottom: 1px solid #cccccc;
      // margin: 0 -1px;

      .heThongRapImageBox.active{
        opacity: 1;
      }

      .heThongRapImageBox{
        // flex-shrink: 0;
        padding: 10px;

        width: 100px;
      }
    }
  }

  @media screen and (max-width: 767.9px) {
    .thongTinLichChieuPhimBox {
      .heThongRap {
        overflow-y: auto;

        .heThongRapImageBox {
          flex-shrink: 0;

        }
      }

      .LichChieuBox {
        font-size: 0.9rem;
      }
    }
  }

  @media screen and(max-width: 575.9px) {
    .thongTinLichChieuPhimBox {
      .LichChieuBox {
        font-size: 0.8rem;
      }
    }

    .chiTietPhimBox {
      .chiTietPhimTextBox {
        h4{
          text-align: center;
        }
      }
    }


  }
}
