.thongTinLichChieuHeThongRap2 {
  .listHeThongRap,
  .listCumRap,
  .listPhim {
    // overflow: auto;
    // height: 400px;
    padding: 10px 15px;
    // background-color: black;

    .scroll-container {
      height: 485px;
    }
  }

  .listPhim{
    .scroll-container {
      height: 400px;
    }
  }

  .listHeThongRap{
    // background: red;
    padding-left: 0;
    padding-right: 0;
  }

  .listCumRap {
    // background: rgb(208, 255, 0);
    position: relative;
    padding-left: 15px;
    padding-right: 15px;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 80%;
      background-color: transparent;
      border-left: 1px solid #cccccc60;
      border-right: 1px solid #cccccc60;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .cumRapBox,
  .phimBox {
    margin-bottom: 10px;
    //shadow
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .heThongRapBox {
    max-width: 50px;
    width: 45px;
    margin: 0 auto;
    padding: 10px 0;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 60%;
      height: 1px;
      background-color: #cccccc50;
    }

    &.active {
      .imageBox {
        background-color: #00000020;
        box-shadow: 0px 0px 15px #cccccc;
        background-clip: content-box;
      }

      opacity: 1;
    }

    .imageBox {
      background-color: #00000020;
      border-radius: 50%;
    }
  }

  .cumRapBox {
    .thongTinCumRapBox {
      display: flex;

      .thongTinCumRapBoxImage,
      .thongTinCumRapBoxInfo {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 5px;
      }

      .thongTinCumRapBoxImage {
        width: 20%;

        img {
          max-width: 100%;
        }
      }

      .thongTinCumRapBoxInfo {
        width: 80%;
    

        .tenRap {
          font-weight: bold;
          font-size: 1rem;
          color: #000000;
        }
        .diaChi {
          font-size: 0.8rem;
          color: #888888;
        }
      }
    }

    &.active {
      background-color: var(--background-primary-dark-3);
      opacity: 1;

      .thongTinCumRapBoxInfo {
        .tenRap {
          color: #ffffff;
        }
        .diaChi {
          color: #eeeeee;
        }
      }
    }
  }

  .phimBox {
    .thongTinPhimBox {
      display: flex;

      .thongTinPhimBoxImage,
      .thongTinPhimBoxText {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        padding: 5px;
      }

      .thongTinPhimBoxImage {
        width: 20%;
        // background-color: #00000020;

        .imageBox {
          position: relative;
          padding-top: 150%;
          height: 0;
          overflow: hidden;

          img {
            display: block;
            position: absolute;
            top: 0;
            max-width: 100%;
            height: 100%;
          }
        }
      }

      .thongTinPhimBoxText {
        width: 80%;
      }
    }
  }

  .customScrollbar {
    //scrollbar
    /* width */
    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #00000020;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #88888810;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    //scrollbar
  }

  @media screen and (max-width: 767.9px) {
    .listHeThongRap {
      display: flex;
      height: auto;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      // margin-bottom: 10px;
      // width: auto;

      .heThongRapBox {
        min-width: 40px;
        margin: 0 30px;

        &::after {
          display: none;
        }
      }

      .scroll-container {
        display: flex;
        height: unset;
      }
    }

    .listCumRap{
      padding-left: 0;

      &::before{
        border-left: none;
      }
    }
  }

  @media screen and (max-width: 575.9px) {
    .listCumRap {

      padding-left: 15px;

      &::before{
        display: none;
      }

      .scroll-container {
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        height: 100%;
        width: 100%;
      }

      .cumRapBox {
        width: 50%;
        margin-bottom: 0;
        // height: 100%;
        flex-shrink: 0;

        .thongTinCumRapBox{
          height: 100%;
        }

        .thongTinCumRapBoxInfo{
          overflow: hidden;
          white-space: pre-wrap;
          .tenRap {
            font-size: 2.1vw;
          }
          .diaChi {
            font-size: 1.5vw;
          }
        }
      }
    }

    .listHeThongRap{
      padding: 0 15px;
    }

    .listCumRap, .listHeThongRap, .listPhim {
      padding-left: 0;
      padding-right: 0;
    }

    .listPhim {
      height: auto;
      max-height: 400px;
    }
  }
}
