.thongTinTaiKhoan {
  $bg1: #f8f9fa;
  $bg2: #f1f1f1;

  font-size: 0.9rem;
  padding-bottom: 0;
  margin-bottom: -72px;

  //formBox
  .formBox {
    border-bottom: 1px solid #cccccc80;
    padding: 10px 0;
    margin-bottom: 24px;

    .col-md-6:first-child {
      border-right: 1px solid #cccccc80;
    }

    .left {
      background-color: $bg1;

      .dataRow:hover {
        background-color: $bg2;
      }
    }

    .right {
      background-color: $bg2;

      .dataRow:hover {
        background-color: $bg1;
      }
    }
  }

  .dataRow {
    height: 50px;
    font-size: 1em;
    padding: 0 10px;
    border-bottom: 1px solid #cccccc80;

    .dataRowLabel,
    .dataRowInfo,
    .dataRowButton {
      display: flex;
      align-items: center;
      font-size: 1em;
    }

    .dataRowLabel {
      font-weight: 500;
    }

    .dataRowButton {
      cursor: pointer;
      justify-content: flex-end;
      padding-left: 0;
    }

    .dataRowInfo {
      position: relative;

      .alertBox {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        position: absolute;
        right: 12px;
        top: 0;
        bottom: 0;

        .alert {
          position: absolute;
          right: 100%;
          white-space: nowrap;
          display: none;
          margin: 0;
          padding: 5px 10px;
          border-radius: 0;
        }

        &:hover {
          .alert {
            display: block;
          }
        }
      }
    }

    .form-control {
      background-color: transparent;
      border: none;
      font-size: 1em;
    }

    .form-control:not(:disabled) {
      font-weight: 600;
    }

    .form-check {
      font-weight: 500;
    }

    .form-check-input {
      border-radius: 0;
    }
  }

  .btnCapNhat {
    display: block;
    margin: 10px auto 0;
  }

  //lich su dat ve
  .lichSuDatVe {
    padding: 10px 0;

    .veBox {
      background-color: $bg1;
      padding: 10px;
      margin-bottom: 24px;
      font-size: 1em;

      & > div {
        padding: 5px 10px;
      }

      // &>div:last-child{
      //   padding: 30px 10px;
      // }

      .ghe {
        display: inline-block;
        padding: 2px;
        background-color: $bg2;
        margin: 3px;
      }

      .label {
        font-weight: 500;
      }
    }
  }

  @media screen and (max-width: 767.9px) {
    margin-bottom: 0;

    .formBox {
      .col-md-6:first-child {
        border-right: none;
      }
    }
  }

  @media screen and (max-width: 575.9px) {
    //formBox
    .formBox {
      margin-left: -24px;
      margin-right: -24px;
    }

    .form-control {
      padding: 0;
    }

    .dataRow {
      height: 70px;
    }

    //lich su dat ve
    .lichSuDatVe {
      .veBox {
        margin-left: -24px;
        margin-right: -24px;
      }
    }
  }
}
