:root{
  --color-primary: #212121;
  --color-primary-light: #484848;
  --color-primary-dark: #000000;
  --color-primary-text: #ffffff;
  --background-primary-dark-3: #00000030;


  --color-secondary: ##616161;
  --color-secondary-light: #8e8e8e;
  --color-secondary-dark: #373737;
  --color-secondary-text: #000000;
  
  --color-additional: #FFCE00;
}